<form (ngSubmit)="searchUsers()" class="form-inline container mt-2">
    <div class="row mb-3 align-items-end">
        <div class="col-sm-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="searchRequest.name" name="name" />
        </div>
        <div class="col-sm-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" id="email" class="form-control" [(ngModel)]="searchRequest.email" name="email" />
        </div>
        <div class="col-sm-3">
            <label for="role" class="form-label">Role:</label>
            <select id="role" class="form-control" [(ngModel)]="searchRequest.role" name="role">
                <option value="">All Roles</option> <!-- Tùy chọn mặc định -->
                <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option> <!-- Giả sử mỗi role có id và name -->
            </select>
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


<div class="container mt-3">
    <div class="container d-flex justify-content-center mt-3">
        <div class="mx-2">
            <a 
                class="btn btn-success" 
                routerLinkActive="active" 
                routerLink="/create-user"
                *ngIf="userService.permissionMatch(['CREATE_USER'])">
                Add New User
            </a>
        </div>
        <div class="mx-2">
            <a 
                class="btn btn-warning" 
                routerLinkActive="active" 
                href="http://localhost:8080/excel/export"
            >
                Export Excel File
            </a>
        </div>
        <div class="mx-2">
            <input 
                #excelFileInput 
                type="file" 
                (change)="importExcelFile($event)" 
                accept=".xlsx, .xls" 
                style="display: none;"
            />
            <button 
                class="btn btn-primary" 
                (click)="triggerFileInputClick()"
                *ngIf="userService.permissionMatch(['CREATE_USER'])">
                Import Excel File
            </button>
        </div>
    </div>
    
    <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td *ngFor="let role of user.roles">{{ role.name }}</td>
            <td>
              <button (click)="updateUser(user.id)" class="btn btn-info" *ngIf="userService.permissionMatch(['EDIT_USER'])">Update</button>
              <button (click)="deleteUser(user.id)" class="btn btn-danger m-1" *ngIf="userService.permissionMatch(['DELETE_USER'])">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="container mt-3">
        <div class="d-flex justify-content-center">
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>

</div>
<app-email></app-email>