<div class="container mt-3">

<div class="container d-flex justify-content-center">
    <a 
      class="btn btn-success" 
      routerLinkActive="active" 
      routerLink="/create-user"
      *ngIf="hasPermission('CREATE_DATA')" 
    >
      Add New User
    </a>
</div>
<div class="container d-flex justify-content-center mt-3">
    <a 
      class="btn btn-warning" 
      routerLinkActive="active" 
      href="http://localhost:8080/excel/export"
    >
      Export excel file
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td *ngFor="let role of user.roles">{{ role.name }}</td>
            <td>
                <button *ngIf="hasPermission('UPDATE_DATA')"  (click)="updateUser(user.id)" class="btn btn-info">Update</button>
                <button *ngIf="hasPermission('DELETE_DATA')" (click)="deleteUser(user.id)"  class="btn btn-danger m-1">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
